---
import ConcursanteScoreDisplay from "./ConcursanteScoreDisplay";

const {nombre, estado, imagen, id}= Astro.props;

let borderColor = 'border-gray-900';
let statusText = 'Activo';

if (estado === 'nominado') {
    borderColor = 'border-amber-500 ring-4 ring-amber-200';
    statusText = 'NOMINADO';
} else if (estado === 'expulsado') {
    borderColor = 'border-red-500 ring-4 ring-red-400 opacity-60';
    statusText = 'EXPULSADO';
}
---

<article class={`bg-white shadow-xl rounded-xl border-t-8 ${borderColor} overflow-hidden transform hover:scale-[1.01] transition duration-300`} data-estado={estado}>
<div class="relative overflow-hidden">
    <img 
        src={imagen}
        alt={`Foto de ${nombre}`}
        width="400"
        height="400"
        class="w-full h-full object-cover block"
    />
    <span class={`absolute top-3 right-3 text-sm font-bold px-3 py-1 rounded-full text-white 
            ${estado === 'nominado' ? 'bg-amber-500' : 
              estado === 'expulsado' ? 'bg-red-500' : 'bg-indigo-600'}`}>
            {statusText}
    </span>
</div>
<div class="p-5">
        <h2 class="text-3xl text-center font-bold mb-4 text-gray-800">{nombre}</h2>
        <ConcursanteScoreDisplay 
            client:load 
            concursanteId={id} 
        />
</article>